@use "./card.scss";
@use "./breweryPage.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    min-height: 100vh;
}

.title {
    text-align: center;
}

header {
    margin-bottom:1rem;
    padding-top:1rem;
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
}

.pagination {
    margin-top:1rem;
}
